<div id="hjem"></div>
<div class="container" id="header">
	<img class="uc" data-uc="logoImg" src="<?-logoImg?>" id="logo"/>

	<ul class="navigasjon" id="mainNav">
		<li><a href="#hjem">Hjem</a></li>
		<li><a href="#prosessen">Prosessen</a></li>
		<li><a href="#produkter">Produkter</a></li>
		<li><a href="#omoss">Om oss</a></li>
		<li><a href="#kontakt">Kontakt</a></li>
	</ul>
</div>


<div class="container-fluid uc-bg" id="hero">
	<div>
		<h1 class="hero uc" data-uc="slagord" id="slogan"><?= slagord ?></h1>
	</div>
</div>

<?- include ../partials/prosessen.ejs ?>



<div class="container-fluid between uc-bg" id="bet1">
	<div class="filter"></div>
</div>

<?- include ../partials/produkter.ejs ?>


<div class="container-fluid between uc-bg" id="bet1">
	<div class="filter filter-green"></div>
</div>

<?- include ../partials/om-oss.ejs ?>

<div class="container-fluid between uc-bg" id="bet2">
	<div class="filter filter-orange"></div>
</div>

<?- include ../partials/kontakt.ejs ?>