<div class="container part" id="konsept">

	<h2 class="uc" data-uc="konsept"><?= konsept ?></h2>

	<div class="uc" data-uc="konseptTekst">
	<?- konseptTekst ?>
	</div>

	<div id="slider" class="">
		
		<img class="uc" data-width="720" data-height="350" data-uc="slider1" src="<?= slider1 ?>">
		
		<img class="uc" data-width="720" data-height="350" data-uc="slider2" src="<?= slider2 ?>">
		
		<img class="uc" data-width="720" data-height="350" data-uc="slider3" src="<?= slider3 ?>">
		
	</div>
	
</div>
