<div class="container part" id="konsept">

	<h2 data-uc="konsept">Konsept</h2>
	<p class="ingress">«Sunn Snacks UB produserer sunn snacks fra rotgrønnsaker produsert av de beste råvarene fra lokalområdet.»</p>

	<div id="slider" class="">
		
		<img data-width="720" data-height="350" data-uc="slider1" data-y="100" src="">
		
		<img data-width="720" data-height="350" data-uc="slider2" src="">
		
		<img data-width="720" data-height="350" data-uc="slider3" src="">
		
	</div>
	
	<div class="muchWidth" data-uc="konseptTekst">

	</div>

</div>
