<div class="container part" id="konsept">

	<h2 data-uc="konsept">Konsept</h2>

	<div data-uc="konseptTekst">
	
	</div>

	<div id="slider" class="">
		
		<img data-width="720" data-height="350" data-uc="slider1" data-y="100" src="">
		
		<img data-width="720" data-height="350" data-uc="slider2" src="">
		
		<img data-width="720" data-height="350" data-uc="slider3" src="">
		
	</div>
	
</div>
