<div class="container part" id="kontakt">

	<h2 data-uc="kontakt"></h2>


	<div class="row">
		<div class="col-sm-6">
			<div data-uc="kontaktText">
				
			</div>

			<form class="lars" id="skjema">
				<div class="questions">
					<div class="row">
						<div class="col-xs-6">
							<label for="name">Navn: </label>
							<input type="text" id="name" required>
						</div>
						<div class="col-xs-6">
							<label for="email">E-post: </label>
							<input type="e-mail" id="email" required>
						</div>
					</div>

					<label for="message">Melding: </label>
					<textarea id="message" placeholder="Noe du lurer på?" required></textarea>
				</div>
				<div class="message"></div>
				<button type="submit" id="sendmail">Send</button>
			</form>



		</div>
		<div class="col-sm-6">
			<div id="map"></div>
			<div id="maptext">
				<img src="/img/maptext.png" />
			</div>
			<div id="stranda">Stranda</div>
		</div>
	</div>
</div>