<div class="container part" id="kontakt">

	<h2 class="uc">Kontakt oss</h2>


	<div class="row">
		<div class="col-sm-6 uc">
			<p>Vi er fire elever fra entreprenørskap og tre elever fra matfag ved Stranda Videregåande Skule</p>

			<form class="lars" id="skjema">
				<div class="questions">
					<div class="row">
						<div class="col-xs-6 uc">
							<label for="name">Navn: </label>
							<input type="text" id="name">
						</div>
						<div class="col-xs-6 uc">
							<label for="email">E-post: </label>
							<input type="e-mail" id="email">
						</div>
					</div>

					<label for="message">Melding: </label>
					<textarea id="message" placeholder="Noe du lurer på?"></textarea>
				</div>
				<div class="message"></div>
				<button type="submit" id="sendmail">Send</button>
			</form>



		</div>
		<div class="col-sm-6">
			<div id="map"></div>
			<div id="maptext">
				<img src="/img/maptext.png" />
			</div>
		</div>
	</div>
</div>