
<div class="container part" id="omoss">

	<h2 class="uc" data-uc="omoss"><?= omoss ?></h2>


	<div class="row">
		<div class="col-sm-6 uc">


			<p>Vi er fire elever fra entreprenørskap og tre elever fra matfag ved Stranda Videregåande Skule.</p>

			<p><strong>Kristine Hanssen</strong> – leder</p>

			<p><strong>Astrid Johanne Tryggestad Fjørstad</strong> – design og markedsansvarlig</p>

			<p><strong>Johanne Tryggestad</strong> – økonomiansvarlig</p>

			<p><strong>Odin Andreas Dyrkorn</strong> – IT-ansvarlig</p>

			<p><strong>Sandra Therese Hjelle</strong> – sjefskokk</p>

			<p><strong>Helga Kvamme</strong> – kokk</p>

			<p><strong>Erik Høglund Viggehagen</strong> – kokk</p>


		</div>
		<div class="col-sm-6">
			<img src="/img/folk.jpg" data-width="600" class="descriptive uc" />
		</div>
	</div>
</div>