
<div class="container part" id="omoss">

	<h2 class="uc" data-uc="omoss"><?= omoss ?></h2>


	<div class="row">
		<div class="col-sm-6 uc" data-uc="omossText">


			<?- omossText ?>

		</div>
		<div class="col-sm-6">
			<img src="/img/folk.jpg" data-width="600" class="descriptive uc" />
		</div>
	</div>
</div>