
<div class="container part" id="omoss">

	<h2 data-uc="omoss"></h2>


	<div class="row">
		<div class="col-sm-6" data-uc="omossText">

		</div>
		<div class="col-sm-6">
			<img src="/img/folk.jpg" data-width="600" class="descriptive" />
		</div>
	</div>
</div>