
<div class="container part" id="produkter">
	<h2 class="uc" data-uc="produkter"><?= produkter ?></h2>

	<div id="produktSlider" class="disableWhenSmall">
		
		
		<div class="sliderContent" data-uc="produkterContent">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<h3 class="uc" data-uc="produkt1"><?= produkt1 ?></h3>
					<p class="uc textCenter" data-uc="produkt1desc"><?= produkt1desc ?></p>
				</div>
				<div class="col-sm-6 col-sm-pull-6">
					<img class="uc" data-uc="produktImg1" data-width="600" src="<?= produktImg1 ?>">
				</div>
			</div>
		</div>

		<div class="sliderContent" data-uc="produkterContent">
			<div class="row">
				<div class="col-sm-6">
					<h3 class="uc" data-uc="produkt2"><?= produkt2 ?></h3>
					<p class="uc textCenter" data-uc="produkt2desc"><?= produkt2desc ?></p>
				</div>

				<div class="col-sm-6">
					<img class="uc" data-uc="produktImg2" data-width="600" src="<?= produktImg2 ?>">
				</div>
			</div>
		</div>

		<div class="sliderContent" data-uc="produkterContent">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<h3 class="uc" data-uc="produkt3"><?= produkt3 ?></h3>
					<p class="uc textCenter" data-uc="produkt3desc"><?= produkt3desc ?></p>
				</div>
				<div class="col-sm-6 col-sm-pull-6">
					<img class="uc" data-uc="produktImg3" data-width="600" src="<?= produktImg3 ?>">
				</div>
				
			</div>
		</div>

		<img class="uc middle" id="notSmall" data-width="720" data-height="200" data-uc="productImgWide" src="<?= productImgWide ?>">
		
	</div>

	

</div>