
<div class="container part" id="produkter">
	<h2 data-uc="produkter"></h2>

	<div id="produktSlider" class="disableWhenSmall">
		
		
		<div class="sliderContent">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<h3 data-uc="produkt1"></h3>
					<p class="uc textCenter" data-uc="produkt1desc"></p>
				</div>
				<div class="col-sm-6 col-sm-pull-6">
					<img data-uc="produktImg1" data-width="600" data-height="600" src="">
				</div>
			</div>
		</div>

		<div class="sliderContent">
			<div class="row">
				<div class="col-sm-6">
					<h3 data-uc="produkt2"></h3>
					<p class="uc textCenter" data-uc="produkt2desc"></p>
				</div>

				<div class="col-sm-6">
					<img data-uc="produktImg2" data-width="600" data-height="600" src="">
				</div>
			</div> 
		</div>


		<div class="sliderContent">
		
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<h3 data-uc="produkt3"></h3>
					<p class="uc textCenter" data-uc="produkt3desc"></p>
				</div>
				<div class="col-sm-6 col-sm-pull-6">
					<img data-uc="produktImg3" data-width="600" data-height="600" src="">
				</div>
				
			</div>
		</div>

		<img class="uc middle" id="notSmall" data-width="720" data-height="200" data-uc="productImgWide" src="">
		
	</div>

	

</div>