<!doctype html>
<!--

Velkommen til kildekoden vår

Håper du finn deg godt til rette. Her er det mykje spennande greier

-->
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Sunnsnacks UB</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<link href="//fonts.googleapis.com/css?family=Montaga&subset=latin" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Abel&subset=latin" rel="stylesheet" type="text/css">
	
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/slider.css">
	<link rel="stylesheet" href="/vendor/slick/slick.css">
	<link rel="stylesheet" href="/css/slick-theme-lars.css">

	<link href="//fonts.googleapis.com/css?family=Belleza&subset=latin" rel="stylesheet" type="text/css">
	<style>
	h2 {
	 font-family: 'Belleza', sans-serif;
	}
	</style>


</head>
<body>


	<div id="wrapper">
		<div id="site">
			<?- include ../partials/content.ejs ?>
		</div>
	</div>

</body>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="/vendor/slick/slick.js"></script>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.1/mapbox-gl.css' rel='stylesheet' />
<script src="/js/mapControl.js"></script>

<script src="/js/slider.js"></script>
<script src="/js/main.js"></script>
<script src="/js/all.js"></script>


<?- include ../partials/analytics.ejs ?>



</body>
</html>
